body{
    overflow: hidden;
}

.app{
    padding-top: 100px;
}
.ant-card-body{
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}
.ant-card-body::-webkit-scrollbar{
    display: none;
}
.t-right{
    text-align: right;
}
.msg-body span{
    margin-bottom: 10px;
}
.msg-content{
    background-color: aquamarine;
    padding: 3px 10px;
    display: inline-block;
    min-width: 50px;
    text-align: left;
}
.msg-content-img .ant-image-img{
    max-height: 30vh;
    width:auto !important;
}
.ant-card-bordered{
    background-color: #f5f5f5;
}

